{
  "printWidth": 128,
  "singleQuote": true,
  "overrides": [
    {
      "files": ["*.css", "*.less", "*.scss", ".travis.yml", "appveyor.yml"],
      "options": {
        "singleQuote": false
      }
    }
  ]
}
